.pc{
    background-color: rgba(24, 177, 177, 0.253);
    text-align: center;
}
.container{
    border: solid 2px rgb(41, 197, 197);
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns:50px 50px / 50px 50px;
    background-color:rgba(36, 184, 172, 0.473);
}
.item{
    margin: 2px;
    padding: 10px;
}
.FOoter{
    background-color:rgb(85, 78, 78);
    color:white;
    padding: 0rem;
    font-size: 0.9rem;
}