.nav{
    height: 50px;
    background: blue;
}
.nav div{
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 15px;
    font-size: 20px;
    color: white;
}
.nav ul{
    position: absolute;
    right: 5px;
}
.nav ul li{
    display: inline-block;
  /  display: flex;
   / flex-direction:column;
   / align-items: flex-start;
}
.nav ul li a{
    color: white;
    padding: 5px;
}
.text-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
body{background-color: rgba(143, 202, 219, 0.349);
    text-align:center;
}
div{
    font-style: italic;
    margin: 10px;
    padding:px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
h3{text-align:center;}
h5{text-align: center;}
.mada{text-align: center;
background-color: goldenrod;}
.text{display:inline-block;

}
.home{
    background-color: red;
}
.image{
background-color: rgba(218, 31, 40, 0.082);

}
.container{
    border: solid 2px #806868;
    display: flex;
    flex-direction: column;
    
}
.item{
    border: 2px solid #817b45;
    margin: 2px;
} 

} 